.event-date {
  margin: 1rem 0;
}

.event-date .date {
  display: block;
  max-width: 100%;
  font-size: 0.8125rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2308;
  color: #fa383e;
  font-weight: 600;
  word-break: break-word;
}

.event-date .name {
  line-height: 1.2;
  font-size: 1.25rem;
  word-break: break-word;
  list-style: none;
  font-weight: 700;
  margin: 0.125rem 0;
}
