<span i18n>Category</span>

<mat-progress-bar *ngIf="dates.isLoading$ | async" mode="indeterminate"></mat-progress-bar>

<div *ngIf="dates.error$ | async as error">{{ error.message }}</div>

<ng-container *ngIf="dates.content$ | async as response">
  <div *ngFor="let event_date of response.items">
    <div class="event-date">
      <div class="date">{{ event_date.start | date: 'fullDate' }} {{ event_date.start | date: 'shortTime' }}</div>
      <div class="name">{{ event_date.event?.name }}</div>
    </div>
  </div>

  <mat-paginator
    (page)="handleDatesPageEvent($event)"
    [length]="response.total"
    [pageIndex]="page - 1"
    [pageSize]="perPage"
    showFirstLastButtons="true"
    hidePageSize="true"
  >
  </mat-paginator>
</ng-container>
